.navbar {
  width: 100%;
  background-color: #161616; 
  padding: 15px 0px;
}

.nav-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;        /* spacing from sides */
}

.logo {
  color: white;
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.link:hover {
  text-decoration: underline;
}
